# Two-Way ANOVA with Dunnett and TukeyHSD Posthoc Comparisons

Performs ANOVAs and Dunnett posthoc comparisons for ANOVAs using a Python wrapper for R.

### User Input

In [4]:
f_in = "coupling_connected_nmda.csv"
exp_name = 'Demo'

### Import Statements for Python and Library loading for R

In [5]:

import rpy2.robjects as ro
from rpy2.robjects.packages import importr
import pandas as pd
import numpy as np
import os
from rpy2.robjects import r, pandas2ri
from IPython.display import display, HTML


base = importr('base')
utils = importr('utils')
desc_tools = importr('DescTools')
fsa = importr('FSA')
rcompanion = importr('rcompanion')
mcv = importr('multcompView')
lsmeans = importr('lsmeans')
stats = importr('stats')
ag = importr('agricolae')
dunnett = ro.r['DunnettTest']

### Read in the Data via Python

There are well-documented bugs in the transferring of a pandas dataframe to an R dataframe, so the offical way to ensure your analysis is formatted correctly, you have to parse out the columns into individual variables at the start.

In [19]:
# Read the clean data into a pandas dataframe
df_in = pd.read_csv(f_in)
df_r = ro.pandas2ri.py2ri (df_in)
print(type(df_r))

# Rearrange data for 2-way Anova (indexed)
df_control = df_in[['strain', "distance", "cc", "gj", "vm1", "rin1"]].copy()
df_control['treatment'] = 'control'
df_treated = df_in[['strain', "distance", "cc_nmda", "gj_nmda", "vm1_nmda", "rin1_nmda"]].copy()
df_treated.columns = ['strain', "distance", "cc", "gj", "vm1", "rin1"]
df_treated['treatment'] = 'nmda'

df = df_control.append(df_treated)
df['interaction'] = df.strain + " : " + df.treatment
display(HTML(df.to_html()))

# Parse the data in local R variables
# Pandas dataframes do not faithfully convert to R dataframes
cc = ro.vectors.FloatVector (df.cc)
gj = ro.vectors.FloatVector (df.gj)
vm = ro.vectors.FloatVector (df.vm1)
rin = ro.vectors.FloatVector (df.rin1)
dist = ro.vectors.FloatVector (df.distance)
strain = ro.vectors.FactorVector (df.strain)
treatment = ro.vectors.FactorVector (df.treatment)
interaction = ro.vectors.FactorVector (df.interaction)


# Convert local R variables to global R variables
# Does not work if you do it all in one step
ro.globalenv ['strain'] = strain
ro.globalenv ['cc'] = cc
ro.globalenv ['gj'] = gj
ro.globalenv ['vm'] = vm
ro.globalenv ['rin'] = rin
ro.globalenv ['dist'] = dist
ro.globalenv ['treatment'] = treatment
ro.globalenv ['interaction'] = interaction

# Make a list of measurements to be analyzed
analyze = [cc, gj, vm, rin]
labels = ["cc",  "gj", "vm", "rin"]

# Function for saving pandas dataframes to csv spreadsheets
def save_csv (df_out, file_out):
    df_out.to_csv(file_out, index = False)

<class 'rpy2.robjects.vectors.DataFrame'>

### Two-Way ANOVA with Mouse Strain and Treatment as Factors

In [7]:
def get_anova (dep_var, label, df_anovas):
    """User passes the the dependent variable, the group label, and output dataframe (pandas).
        The function calculates the linear model, summarizes the data, then performs an 
        anova."""
    df_anova = pd.DataFrame()
    display(HTML('<h4> Two-Way ANOVA Results: ' + label))
    ro.globalenv['dep_var'] = dep_var
    lm_x = stats.lm("dep_var ~ strain + treatment +  strain:treatment")
    lm_summary = base.summary(lm_x)
    anova_results = stats.anova(lm_x)
    anova_summary = base.summary(anova_results)
    
    # Parse the chaotic output of lm() and anova() into a pandas dataframe
    df_strain = int(anova_results[0][0])
    df_treatment =int(anova_results[0][1])
    df_interaction = int(anova_results[0][2])
    df_res = int(anova_results[0][3])
    ss_strain = format(round(anova_results[1][0],3), 'f')
    ss_treatment = format(round(anova_results[1][1],3), 'f')
    ss_interaction = format(round(anova_results[1][2],3), 'f')
    ss_res = format(round(anova_results[1][3],3), 'f')
    ms_strain = anova_results[2][0]
    ms_treatment = anova_results[2][1]
    ms_interaction = anova_results[2][2]
    ms_res = anova_results[2][3]
    f_strain = anova_results[3][0]
    f_treatment = anova_results[3][1]
    f_interaction = anova_results[3][2]
    f_res = anova_results[3][3]
    p_strain = anova_results[4][0]
    p_treatment = anova_results[4][1]
    p_interaction = anova_results[4][2]
    p_res = anova_results[4][3]
    
    # Assemble the rows for the dataframe
    row1 = {'measure': label, 'comparison': 'strain', 'df': df_strain, 'ss': ss_strain,
           'ms': ms_strain, 'f_stat': f_strain, 'p_val': p_strain}
    row2 = {'measure': label, 'comparison': 'treatment', 'df': df_treatment, 'ss': ss_treatment,
           'ms': ms_treatment, 'f_stat': f_treatment, 'p_val': p_treatment}
    row3 = {'measure': label, 'comparison': 'interaction', 'df': df_interaction, 'ss': ss_interaction,
           'ms': ms_interaction, 'f_stat': f_interaction, 'p_val': p_interaction}
    row4 = {'measure': label, 'comparison': 'residual', 'df': df_res, 'ss': ss_res,
           'ms': ms_res, 'f_stat': f_res, 'p_val': p_res}
    
    # Append the rows to the dataframe
    df_anova = df_anova.append([row1,row2,row3,row4], ignore_index = True, sort = False) 
    df_anovas = df_anovas.append(df_anova)
    display(HTML(df_anova.to_html()))

    return df_anovas

# Create and empty pandas dataframe to catch the output of the get_anova1() function


# Cycle through the measurements and perform one way anova on each with strain as the ind. var

df_anovas = pd.DataFrame()
i = 0
while i < len(analyze):
    df_anovas = get_anova(analyze[i], labels[i], df_anovas)
    i = i + 1   
    
save_csv (df_anovas, exp_name + '_two_way_anova.csv' ) # Save the dataframe to a csv spreadsheet

### Dunnett Pairwise Comparisons with Strain as Factor

In [8]:
 def get_dunnett(dep_var, label, df_dun):
        df_dun = pd.DataFrame()
        display(HTML('<h4> Dunnett Planned Comparisons: ' + label))
        dunnett_results = dunnett(x = dep_var, g = interaction, control = 'group1 : control')
        pairs = base.labels(dunnett_results[0])[0]
        calculations = base.labels(dunnett_results[0])[1]
        col_length = len(np.unique(strain)) + len(calculations) - 1
        i = 0
        for pair in pairs:
            groups = pair.split('-')
            row = {'measurement': label,
                   'group1': groups[0],
                   'group2': groups[1],
                   'diff': dunnett_results[0][i],
                   'lwr_ci': dunnett_results[0][i+col_length],
                   'upr_ci': dunnett_results[0][i+col_length*2],
                   'p_val': dunnett_results[0][i+col_length*3]}
            df_dun = df_dun.append(row, ignore_index = True, sort = False)
            df_dun = df_dun[['measurement','group1','group2', 'diff', 'lwr_ci', 'upr_ci', 'p_val' ]]
            i = i + 1
        display(HTML(df_dun.to_html()))
        return df_dun 

# Create an empty pandas dataframe to catch the data from the get_dunnett1 function

df_duns = pd.DataFrame()
i = 0
while i < len(analyze)-1:
    df_duns = get_dunnett(analyze[i], labels[i], df_duns)
    i = i + 1

### Tukey HSD Posthoc Test

In [9]:
def get_tukey(dep_var, label, df_tukey):
    lm_x = stats.lm("dep_var ~ strain + treatment +  strain:treatment")
    tukey_aov = stats.aov(lm_x)
    tukey_results = stats.TukeyHSD(tukey_aov)
    calculations = base.labels(tukey_results[0])[1]
    col_length = int(len(tukey_results[2])/len(calculations))
    comparisons = base.labels(tukey_results[2])[0]

    i = 0
    while i < col_length:
        comparison = comparisons[i].split('-')
        row = {'group1': comparison[0],
               'group2': comparison[1],
                'diff': tukey_results[2][i],
                'lwr' : tukey_results[2][i + col_length],
                'upr' : tukey_results[2][i + col_length*2],
                'p_adj' : tukey_results[2][i + col_length*3]}

        df_tukey = df_tukey.append(row, ignore_index = True)
        df_tukey = df_tukey[['group1', 'group2', 'diff', 'upr', 'p_adj']]
        i = i + 1
    return df_tukey
    


i = 0
while i < len(analyze)-1:
    df_tukey = pd.DataFrame()
    display(HTML('<h4> Tukey HSD: ' + labels[i]))
    df_tukey = get_tukey (analyze[i], labels[i], df_tukey)
    display(HTML(df_tukey.to_html()))
    i = i + 1

### Reference code for remotely installing R packages through python

In [11]:
#utils.chooseCRANmirror(ind=1) 
#utils.install_packages ("DescTools")
#utils.install_packages("rcompanion")
#utils.install_packages("lsmeans")
#utils.install_packages("multcompView")
#utils.install_packages("FSA")
#utils.install_packages("agricolae")