# One-Way ANOVA with Dunnett Posthoc Comparisons

Performs ANOVAs and Dunnett posthoc comparisons for ANOVAs using a Python wrapper for R.

### User Input

In [1]:
f_in = "coupling_connected.csv"
exp_name = "Demo"

### Import Statements for Python and Library loading for R

In [2]:
import rpy2
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
import pandas as pd
import numpy as np
import os
from rpy2.robjects import r, pandas2ri
from IPython.display import display, HTML


base = importr('base')
utils = importr('utils')
desc_tools = importr('DescTools')
fsa = importr('FSA')
rcompanion = importr('rcompanion')
mcv = importr('multcompView')
lsmeans = importr('lsmeans')
stats = importr('stats')
dunnett = ro.r['DunnettTest']

### Read in the Data via Python

There are well-documented bugs in the transferring of a pandas dataframe to an R dataframe, so the offical way to ensure your analysis is formatted correctly, you have to parse out the columns into individual variables at the start.

In [3]:
# Function for saving pandas dataframes to csv spreadsheets
def save_csv (df_out, file_out):
    df_out.to_csv(file_out, index = False)
    
# Read the clean data into a pandas dataframe
df = pd.read_csv(f_in)

# Parse the data in local R variables
# Pandas dataframes do not faithfully convert to R dataframes
cc = ro.vectors.FloatVector (df.cc)
cc_nmda = ro.vectors.FloatVector (df.cc_nmda)
cc_pchange = ro.vectors.FloatVector (df.cc_pchange)
gj = ro.vectors.FloatVector (df.gj)
gj_nmda = ro.vectors.FloatVector (df.gj_nmda)
gj_pchange = ro.vectors.FloatVector (df.gj_pchange)
vm = ro.vectors.FloatVector (df.vm1)
vm_nmda = ro.vectors.FloatVector (df.vm1_nmda)
rin = ro.vectors.FloatVector (df.rin1)
rin_nmda = ro.vectors.FloatVector (df.rin1_nmda)
dist = ro.vectors.FloatVector (df.distance)
strain = ro.vectors.FactorVector (df.strain)

# Convert local R variables to global R variables
# Does not work if you do it all in one step
ro.globalenv ['strain'] = strain
ro.globalenv ['cc'] = cc
ro.globalenv ['cc_nmda'] = cc_nmda
ro.globalenv ['cc_pchange'] = cc_pchange
ro.globalenv ['gj'] = gj
ro.globalenv ['gj_nmda'] = gj_nmda
ro.globalenv ['gj_pchange'] = gj_pchange
ro.globalenv ['vm'] = vm
ro.globalenv ['vm_nmda'] = vm_nmda
ro.globalenv ['rin'] = rin
ro.globalenv ['rin_nmda'] = rin_nmda
ro.globalenv ['dist'] = dist

# Make a list of measurements to be analyzed
analyze = [cc, cc_nmda, cc_pchange, gj, gj_nmda, gj_pchange, vm, vm_nmda, rin, 
           rin_nmda]
labels = ["cc", "cc_nmda", "cc_pchange", "gj", "gj_nmda", "gj_pchange", "vm", 
          "vm_nmda", "rin", "rin_nmda"]

### One-Way ANOVA with mouse strain as Factor

In [4]:
def get_anova (dep_var, label, df_anovas):
    """User passes the the dependent variable and measurement label. 
    The function calculates the linear model, summarizes the data, 
    then performs an anova. Output is saved as a .csv spreadsheet in
    the working directory."""
    df_anova = pd.DataFrame()
    display(HTML('<h4> One-Way ANOVA Results: ' + label))
    ro.globalenv['dep_var'] = dep_var
    lm_x = stats.lm("dep_var ~ strain")
    lm_summary = base.summary(lm_x)
    anova_results = stats.anova(lm_x)
    anova_summary = base.summary(anova_results)
    
    # Parse the chaotic output of lm() and anova() into a pandas dataframe
    df_groups = int(anova_results[0][0])
    df_err = int(anova_results[0][1])
    ss_groups = float(anova_results[1][0])
    ss_err = float(anova_results[1][1])
    ms_groups = float(anova_results[2][0])
    ms_err = float(anova_results[2][1])
    f_stat = float(anova_results[3][0])    
    p_value = float(anova_results[4][0])
    row = {'measure': label, 'df_group': df_groups, 'ss_groups': ss_groups, 
            'ss_err':ss_err, 'ms_groups': ms_groups, 'ms_err': ms_err, 
            'df_err': df_err, 'f_stat': f_stat, 'p_value': p_value}
    df_anova = df_anova.append(row, ignore_index = True)
    df_anova = df_anova[['measure', 'df_group', 'df_err', 'ss_groups',
                       'ss_err', 'ms_groups', 'ms_err','f_stat', 'p_value']]
    display(HTML(df_anova.to_html())) # Display the results in a table
    df_anovas = df_anovas.append(df_anova)
    return df_anovas

# Cycle through the measurements and perform one way anova on each 
# with strain as the ind. var
df_anovas = pd.DataFrame()
i = 0
while i < len(analyze):
    df_anovas = get_anova(analyze[i], labels[i], df_anovas)
    i = i + 1   
save_csv (df_anovas, exp_name + '_one_way_anova.csv' ) # Save the dataframe to a csv spreadsheet

### Dunnett Pairwise Comparisons with Strain as Factor

In [6]:
 def get_dunnett(dep_var, label):
        """User passes the the dependent variable and measurement label. 
        The function performs planned comparisons using the Dunnett test 
        and summarizes the data. Output is saved as a .csv spreadsheet in
        the working directory."""
        
        df_dun = pd.DataFrame()
        display(HTML('<h4>Dunnett Planned Comparisons: ' + label))
        dunnett_results = dunnett(x = dep_var, g = strain, control = 'group1')
        pairs = base.labels(dunnett_results[0])
        calculations = base.labels(dunnett_results[0][1])
        i = 0
        for pair in pairs[0]:
            groups = pair.split('-')
            row = {'measurement': label,
                   'group1': groups[0],
                   'group2': groups[1],
                   'diff': dunnett_results[0][i],
                   'lwr_ci': dunnett_results[0][i+3],
                   'upr_ci': dunnett_results[0][i+6],
                   'p_val': dunnett_results[0][i+9]}
            df_dun = df_dun.append(row, ignore_index = True)
            i = i + 1
        df_dun = df_dun[['measurement','group1', 'group2', 'diff', 'lwr_ci', 'upr_ci', 'p_val']]
        display(HTML(df_dun.to_html()))

# Cycle through the measurements and perform Dunnett planned comparisons on 
# each with strain as the ind. var      
i = 0
while i < len(analyze)-1:
    get_dunnett(analyze[i], labels[i])
    i = i + 1

### Tukey HSD Posthoc Comparisons

In [7]:
def get_tukey(dep_var, label, df_tukey):
    lm_x = stats.lm("dep_var ~ strain")
    tukey_aov = stats.aov(lm_x)
    tukey_results = stats.TukeyHSD(tukey_aov)
    calculations = base.labels(tukey_results[0])[1]
    col_length = int(len(tukey_results[0])/len(calculations))
    comparisons = base.labels(tukey_results[0])[0]

    i = 0
    while i < col_length:
        comparison = comparisons[i].split('-')
        row = {'group1': comparison[0],
               'group2': comparison[1],
                'diff': tukey_results[0][i],
                'lwr' : tukey_results[0][i + col_length],
                'upr' : tukey_results[0][i + col_length*2],
                'p_adj' : tukey_results[0][i + col_length*3]}

        df_tukey = df_tukey.append(row, ignore_index = True)
        df_tukey = df_tukey[['group1', 'group2', 'diff', 'upr','lwr', 'p_adj']]
        i = i + 1
    return df_tukey
    

i = 0
while i < len(analyze)-1:
    df_tukey = pd.DataFrame()
    display(HTML('<h4> Tukey HSD: ' + labels[i]))
    df_tukey = get_tukey (analyze[i], labels[i], df_tukey)
    display(HTML(df_tukey.to_html()))
    i = i + 1

### Reference code for remotely installing R packages through python

In [ ]:
utils.chooseCRANmirror(ind=1) 
utils.install_packages ("DescTools")
utils.install_packages("rcompanion")
utils.install_packages("lsmeans")
utils.install_packages("multcompView")
utils.install_packages("FSA")